/* styles.css */

#title {
    text-align: center;
    font-size: 48px;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.links-un {
    background-color:rgb(255, 194, 169);
    color: white;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border: 20px;
    margin: 200px;
    box-sizing: content-box;
}

.body {
    background-color: lightsalmon;
}